exports.sh
config.tf
.terraform/*
terraform/vpcsetup/.terraform/*
terraform/kubernetessetup/*
terraform/docker-registry/keys/*
terraform/docker-registry/.terraform/*
terraform/docker-registry/data/
secrets/cluster.yaml
secrets/values.yaml
templates/cluster.yaml
templates/values.yaml
secrets.tfvars
ansible.cfg
hosts
