myclusterName: 
dnsZone:
awsRegion:
vpcID: 
vpcCIDR: 192.168.0.0/16
sthreeBucket: s3://
sslCertARN: arn:aws:acm:
image: kope.io/k8s-1.12-debian-stretch-amd64-hvm-ebs-2019-05-13
bastionMachineType: t2.micro
masterMachineType: t2.medium
nodeMachineType: t2.medium
nodeMaxSize: 5
nodeMinSize: 3
sshAccess:
  -
privateNetwork:
  a:
    egress: 
    subnet: 
    region: 
  b:
    egress: 
    subnet: 
    region: 
  c:
    egress: 
    subnet: 
    region: 
publicNetwork:
  a:
    subnet: 
    region: 
  b:
    subnet: 
    region: 
  c:
    subnet: 
    region: 
